<main class="container">
  <h1>Angular 16 Pico.css</h1>

  <div class="grid">
    <section>
      <app-product-form
        [product]="selectedProduct"
        (save)="saveProduct($event)"
        (cancelEdit)="cancelEdit()"
      ></app-product-form>
    </section>

    <section>
      <app-product-list
        [products]="products$ | async"
        [selectedProductId]="selectedProduct?.id ?? null"
        (edit)="editProduct($event)"
        (delete)="deleteProduct($event)"
      ></app-product-list>
    </section>
  </div>
</main>